<div id="contact-info" class="vcard">
  <h1 class="fn">Bogdan Storozhuk</h1>
  <p>
    Cell: <span class="tel">066-82-65-603</span><br />
    Email:
    <a class="email" href="mailto:bogdanstorozhuk96@lovecraft.com"
      >bogdanstorozhuk@gmail.com</a
    >
  </p>
</div>
<div id="objective">
  <p>
    Currently I am a student at FE Online Lab. I have achived bachelor's degree
    in computer engineering and pursuing master's degree now.Among the
    frameworks have the most experience working with React.
  </p>
</div>
