<dl>
  <dd class="clear"></dd>

  <dt>Education</dt>
  <dd>
      <h2>CHERNIHIV NATIONAL TECHNOLOGICAL UNIVERSITY</h2>
      <p><strong>Bachelor:</strong> Computer Engineering(2019)<br />
         <strong>Master:</strong> Computer Engineering(2021)</p>
  </dd>

  <dd class="clear"></dd>

  <dt>Skills</dt>
  <dd>
      <h2>React</h2>
      <p>React-redux, react hooks, redux-saga, react-router-dom, styled-components, react-bootstrap</p>

      <h2>Angular</h2>
      <p>Currently learning :)</p>

      <h2>Javascript</h2>
      <p>and much more</p>
  </dd>

  <dd class="clear"></dd>

  <dt>Experience</dt>
  <dd>
      <h2>Axels <span>Trainee - 2020</span></h2>
      <ul>
          <li>Worked on a practice project during onboarding</li>
          <li>Performed testing on said project</li>
      </ul>

      <h2>EPAM <span>FE Lab student - 2020</span></h2>
      <ul>
          <li>Learning nodeJS</li>
          <li>Learning React</li>
          <li>Learning Angular</li>
      </ul>
  </dd>

  <dd class="clear"></dd>

  <dt>Hobbies</dt>
  <dd>Video games, music, twitch.tv</dd>

  <dd class="clear"></dd>
</dl>
